//- VIEW FILE 

extends layout

block content
	h1 The Motorcycle Diaries Journey
	h3 Stops on the Journey

	h2 Second Stop: #{location.name}
	h4 Description: #{location.description}

	a(href='/places/#{location.next}')
		button.next-page Next Page